# Setup

In [13]:
import sys
  
# append the path of the parent directory - important for using custom modules 
# https://stackoverflow.com/questions/14886143/how-to-import-a-python-module-from-a-sibling-folder
sys.path.append("..")

import os
import glob

import pandas as pd

# Notebook settings
import warnings
warnings.filterwarnings('ignore')

In [14]:
os.getcwd()

'/Users/reginagalambos/Google Drive_mediasittich/LMU-Statistik/SS22/!bachelor_thesis/news-dataset-exploration/notebooks'

In [15]:
from src.data.make_dataset import test

In [16]:
test()

Make a dataset

In [2]:
os.getcwd()

'/Users/reginagalambos/Google Drive_mediasittich/LMU-Statistik/SS22/!bachelor_thesis/news-dataset-exploration/notebooks'

# New York Times API

In [3]:
# Load NYT data
files = glob.glob('../data/raw/nyt_headlines/*.csv')

nyt_df = pd.DataFrame()
for f in files:
    csv = pd.read_csv(f)
    nyt_df = nyt_df.append(csv)

In [4]:
nyt_df.head()

,headline,date,doc_type,material_type,section,keywords,word_count,abstract,snippet,lead_paragraph
0,"Alabama Rolls Past Cincinnati, 27-6, in Colleg...",2022-01-01,article,News,Sports,"['Football (College)', 'Cotton Bowl (Football ...",1245,The Crimson Tide will face the Georgia Bulldog...,The Crimson Tide will face the Georgia Bulldog...,"ARLINGTON, Texas — This was the moment the Cin..."
1,People Magazine’s Premature Cover Toasts Betty...,2022-01-01,article,News,Business Day,"['Magazines', 'Birthdays', 'Actors and Actress...",613,"The television star, who died on Friday at age...","The television star, who died on Friday at age...","For months, editors at People magazine had bee..."
2,Betty White Recalled as a Trailblazer With a L...,2022-01-01,article,News,Arts,"['Social Media', 'Actors and Actresses', 'Cont...",443,"“The world looks a little different now,” said...","“The world looks a little different now,” said...","Television stars, comedians, a president and s..."
3,Line Just Before a Comma,2022-01-01,article,News,Crosswords & Games,['Crossword Puzzles'],641,Peter Wentz escorts us into MMXXII with a stai...,Peter Wentz escorts us into MMXXII with a stai...,"SATURDAY PUZZLE — One day, when the universe s..."
4,A Renewed Georgia Pummels Michigan to Reach Na...,2022-01-01,article,News,Sports,"['Football (College)', 'College Football Playo...",1015,"The next challenge will come on Jan. 10, pande...","The next challenge will come on Jan. 10, pande...","It was supposed to be Friday’s prizefight, the..."

headline column contains the article title.  
abstract  
snippet  
lead_paragraph

# Guardian API

In [ ]:
# Load Guardian data

# Twitter - Guardian Tweets

In [5]:
# Load Twitter data
twitter_df = pd.read_csv('../data/raw/gu_twitter/gu_tweets.csv')

In [6]:
twitter_df.head()

,created_at,id,text
0,Wed Sep 28 21:17:47 +0000 2022,1575233331943309339,Morning mail: hurricane with 240km/h winds hit...
1,Wed Sep 28 21:17:46 +0000 2022,1575233327329574924,"R Kelly ordered to pay restitution of $300,000..."
2,Wed Sep 28 21:17:44 +0000 2022,1575233321063292928,Two aircraft involved in ‘minor collision’ on ...
3,Wed Sep 28 21:10:00 +0000 2022,1575231372490309658,We’re keen to hear from people who have recent...
4,Wed Sep 28 21:03:05 +0000 2022,1575229631912869894,"Guardian front page, Thursday 29 September 202..."